<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>What-Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4D1F3BE1BB1C9BD00F1E7AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4D1F3D21BB1C9BE00F1E7AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4D1F3DD1BB1C9BE00F1E7AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
